[run]
source = .
omit = 
    */venv/*
    */venv_fresh/*
    */migrations/*
    manage.py
    config/wsgi.py
    config/asgi.py
    */tests.py
    */test_*.py
    .tox/*
    .coverage
    .git/*
    tmp/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

show_missing = True
skip_covered = False

[html]
directory = htmlcov