<div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityModalLabel">Add Activity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'add_activity' vacation.id %}" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    {% if field.name != 'actual_cost' %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}


                    {% if vacation.trip_type == 'booked' %}
                    <div class="mb-3">
                        {{ form.actual_cost.label_tag }}
                        {{ form.actual_cost }}
                        {% if form.actual_cost.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.actual_cost.errors.as_text }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Activity</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>